$default-font: Arial;

//Transition
$transition: all .5s linear 0s;

//---Shadows

//---Borders

//----colors
$black: #000;
$white: #fff;
$blue: #076bfd;
$blueD: rgb(5, 80, 189);
$dark: #202020;
$red: #d75948;
$redDark: #A62022;
$green: #89a843;
$lighter: #f6f6f6;
$grey: #585c66;

//---Vars
$default-font: 'Roboto', sans-serif;
$title-font: 'Staatliches', cursive;
